

/* h1{
    
    color: silver;
    background-color: blue;
    font-family:s Helvetica, sans-serif;
    text-align:center; */
/* } */
/* } */
/* header {
    background:#f4f4f4;
    border-bottom:#ccc 5px, solid;
    padding: 20px;
    
    }
container {
    width:700px;
    margin:30px auto;
}
}
*/


body {
    background-color: rgba(192, 192, 192, 0.048);
}

h1 {
    border-radius: 10px;
    text-align: center;
    color: silver;
    background-color:blue;
    font-family: Helvetica, sans-serif;
}

.category {
    /* margin: auto; */
    text-align: justify;
    



}

  .outter {
    margin: auto;
    border-radius: 50px 50px 50px 50px;
    padding: 20px, all;
    height: 475px;
    width: 600px;      
    background-color: rgba(11, 80, 228, 0.822); 
    border: double;   
}

.row {

  display: flex;
  border-radius: 35px 35px 35px 35px;
  height:120px;
  width: 550px;
  margin: 25px;
  background-color: rgba(228, 213, 0, 0.911);
  box-shadow: 7px 3px #888888;
  /* float: right; */
} 
.tile {

  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
  color:whitesmoke;
  margin: 20px;
  height:75px;
  width:150px;
  border-color: rgb(255, 238, 0);
  box-shadow: 5px 2px #888888;
  background-color: rgba(89, 141, 236, 0.822);
  border: dotted;
  /* float: left; */
}